{% extends 'base.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h2 class="card-title">WELCOME</h2>
    </div>
    <div class="card-body">
        <p>Welcome to Event Calender</p>
        <a href="{{url('homepage')}}category/create" class="btn btn-primary">Category</a>
        <a href="{{url('homepage')}}event/create" class="btn btn-success">Event</a>
    </div>
</div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
