{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">
    <div class="card">
    <div class="card-header">
        <h2 class="card-title">Events</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped">
        	<thead>
        		<tr>
        			<th>Event Name</th>
        			<th>Category</th>
        			<th>Day</th>
        			<th></th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
        			<td>Event 1</td>
        			<td>Category 1</td>
        			<td>Day</td>
        			<td>
        				<a href="{{url('homepage')}}category/edit/1" class="btn btn-secondary">Edit</a>
        				<a href="{{url('homepage')}}category/edit/1" class="btn btn-danger">Delete</a>
        			</td>
        		</tr>
        	</tbody>
        </table>
    </div>
</div>
</div>
{% endblock %}
